<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ .Page}} - Просмотр объявлений</title>
    </head>
    <body>
        <div>
            <h2>
                Список объявлений - страница {{ .Page}}
            </h2>
            <div>
                <div>
                    {{if .NotFirst}}
                    <a href="{{ .PrevLink}}">Предыдущая страница</a>
                    {{end}}
                    {{if .NotLast}}
                    <a href="{{ .NextLink}}">Следующая страница</a>
                    {{end}}
                </div>
                <div>
                    </br>
                    <a href = "/add">
                        Создать своё объявление
                    </a>
                </div>
                {{range .Data}}
                <div>
                    <h4>
                        Объявление {{ .Num}} - {{ .Title}}
                    </h4>
                    <div>
                        {{ .ShortText}}
                    </div>
                    <div>
                        <a href="{{ .Link}}&backpage={{ $.Page}}">
                            Перейти
                        </a>
                    </div>
                </div>
                {{end}}
            </div>
        </div>
    </body>
</html>